séance4/LE MISANTHROPE.dtd

<?xml version="1.0" encoding="UTF-8"?>

  <!ELEMENT piece (titre, acte+)>
  <!ATTLIST piece xml:lang CDATA #REQUIRED>
  <!ELEMENT acte (titre, scene+)>
  <!ELEMENT scene (titre, casting, (tourDeParole, vers+)+)>
  <!ELEMENT titre (#PCDATA)>
  <!ELEMENT casting (#PCDATA)>
  <!ELEMENT tourDeParole (#PCDATA | didascalie)*>
  <!ELEMENT didascalie (#PCDATA)>
  <!ELEMENT vers (#PCDATA)>
  <!ATTLIST vers n CDATA #IMPLIED>
  <!ATTLIST vers part (I|F) #IMPLIED>